# Superficies y producciones anuales de cultivos

[Datos 2020](https://www.mapa.gob.es/es/estadistica/temas/estadisticas-agrarias/agricultura/superficies-producciones-anuales-cultivos/)

In [6]:
import pandas as pd

## Cereales

In [47]:
df_1 = pd.read_excel('../../datasets/raw/crops/cereal_2000-2010.xlsx', skiprows=4)
df_2 = pd.read_excel('../../datasets/raw/crops/cereal_2008-2018.xlsx', skiprows=4)

df_1 = df_1[['Años', 'Producción (miles de toneladas)']]
df_2 = df_2[['Años', 'Producción (miles de toneladas)']]

df = pd.concat([df_1, df_2[df_2['Años'] > 2010]])

df.rename(columns={"Años": "year", 'Producción (miles de toneladas)': "value"}, inplace=True)

df['dataset'] = 'Serie histórica de producción agrícola española'
df['indicator'] = 'Producción de cereales grano'
df['unit'] = 'kt'

df = df[['dataset', 'indicator', 'value', 'year', 'unit']]
df_cer = df.copy()
df_cer

,dataset,indicator,value,year,unit
0,Serie histórica de producción agrícola española,Producción de cereales grano,24567.000,2000,kt
1,Serie histórica de producción agrícola española,Producción de cereales grano,18055.000,2001,kt
2,Serie histórica de producción agrícola española,Producción de cereales grano,21682.715,2002,kt
3,Serie histórica de producción agrícola española,Producción de cereales grano,21170.000,2003,kt
4,Serie histórica de producción agrícola española,Producción de cereales grano,24848.632,2004,kt
5,Serie histórica de producción agrícola española,Producción de cereales grano,14241.490,2005,kt
6,Serie histórica de producción agrícola española,Producción de cereales grano,19091.804,2006,kt
7,Serie histórica de producción agrícola española,Producción de cereales grano,24543.717,2007,kt
8,Serie histórica de producción agrícola española,Producción de cereales grano,24179.755,2008,kt
9,Serie histórica de producción agrícola española,Producción de cereales grano,17884.219,2009,kt
10,Serie histórica de producción agrícola española,Producción de cereales grano,19880.065,2010,kt
3,Serie histórica de producción agrícola española,Producción de cereales grano,22094.521,2011,kt
4,Serie histórica de producción agrícola española,Producción de cereales grano,17543.823,2012,kt
5,Serie histórica de producción agrícola española,Producción de cereales grano,25374.359,2013,kt
6,Serie histórica de producción agrícola española,Producción de cereales grano,20596.940,2014,kt
7,Serie histórica de producción agrícola española,Producción de cereales grano,20140.943,2015,kt
8,Serie histórica de producción agrícola española,Producción de cereales grano,24114.796,2016,kt
9,Serie histórica de producción agrícola española,Producción de cereales grano,16658.841,2017,kt
10,Serie histórica de producción agrícola española,Producción de cereales grano,24490.855,2018,kt

## Olivar

In [48]:
df_1 = pd.read_excel('../../datasets/raw/crops/olivar_2000-2010.xlsx', skiprows=6)
df_2 = pd.read_excel('../../datasets/raw/crops/olivar_2008-2018.xlsx', skiprows=6)

df_1 = df_1[['Años', 'Producción total de aceituna (miles de toneladas)']]
df_2 = df_2[['Años', 'Producción total de aceituna (miles de toneladas)']]

df = pd.concat([df_1, df_2[df_2['Años'] > 2010]])

df.rename(columns={"Años": "year", 'Producción total de aceituna (miles de toneladas)': "value"}, inplace=True)

df['dataset'] = 'Serie histórica de producción agrícola española'
df['indicator'] = 'Producción de aceituna'
df['unit'] = 'kt'

df = df[['dataset', 'indicator', 'value', 'year', 'unit']]
df_oliv = df.copy()
df_oliv

,dataset,indicator,value,year,unit
0,Serie histórica de producción agrícola española,Producción de aceituna,5103.501,2000,kt
1,Serie histórica de producción agrícola española,Producción de aceituna,6982.522,2001,kt
2,Serie histórica de producción agrícola española,Producción de aceituna,4414.911,2002,kt
3,Serie histórica de producción agrícola española,Producción de aceituna,7553.574,2003,kt
4,Serie histórica de producción agrícola española,Producción de aceituna,5200.029,2004,kt
5,Serie histórica de producción agrícola española,Producción de aceituna,4021.720,2005,kt
6,Serie histórica de producción agrícola española,Producción de aceituna,5679.021,2006,kt
7,Serie histórica de producción agrícola española,Producción de aceituna,6140.251,2007,kt
8,Serie histórica de producción agrícola española,Producción de aceituna,5485.374,2008,kt
9,Serie histórica de producción agrícola española,Producción de aceituna,6972.094,2009,kt
10,Serie histórica de producción agrícola española,Producción de aceituna,7197.600,2010,kt
3,Serie histórica de producción agrícola española,Producción de aceituna,7820.060,2011,kt
4,Serie histórica de producción agrícola española,Producción de aceituna,3849.263,2012,kt
5,Serie histórica de producción agrícola española,Producción de aceituna,9250.610,2013,kt
6,Serie histórica de producción agrícola española,Producción de aceituna,4579.208,2014,kt
7,Serie histórica de producción agrícola española,Producción de aceituna,7352.095,2015,kt
8,Serie histórica de producción agrícola española,Producción de aceituna,7154.076,2016,kt
9,Serie histórica de producción agrícola española,Producción de aceituna,6549.499,2017,kt
10,Serie histórica de producción agrícola española,Producción de aceituna,9819.569,2018,kt

## Viñedo

In [68]:
df_1 = pd.read_excel('../../datasets/raw/crops/viñedo_2000-2010.xlsx', skiprows=26).iloc[:-1]
df_2 = pd.read_excel('../../datasets/raw/crops/viñedo_2008-2018.xlsx', skiprows=26).iloc[:-1]

df_1 = df_1[['Años', 'Unnamed: 3']]
df_2 = df_2[['Años', 'Unnamed: 3']]

df = pd.concat([df_1, df_2[df_2['Años'] > 2010]])

df.rename(columns={"Años": "year", 'Unnamed: 3': "value"}, inplace=True)

df['dataset'] = 'Serie histórica de producción agrícola española'
df['indicator'] = 'Producción de uva'
df['unit'] = 'kt'

df = df[['dataset', 'indicator', 'value', 'year', 'unit']]
df_uva = df.copy()
df_uva

,dataset,indicator,value,year,unit
0,Serie histórica de producción agrícola española,Producción de uva,6539.800000,2000,kt
1,Serie histórica de producción agrícola española,Producción de uva,5271.737383,2001,kt
2,Serie histórica de producción agrícola española,Producción de uva,5934.100000,2002,kt
3,Serie histórica de producción agrícola española,Producción de uva,7240.500000,2003,kt
4,Serie histórica de producción agrícola española,Producción de uva,7064.201000,2004,kt
5,Serie histórica de producción agrícola española,Producción de uva,6062.510339,2005,kt
6,Serie histórica de producción agrícola española,Producción de uva,6595.056355,2006,kt
7,Serie histórica de producción agrícola española,Producción de uva,5962.642751,2007,kt
8,Serie histórica de producción agrícola española,Producción de uva,5951.580613,2008,kt
9,Serie histórica de producción agrícola española,Producción de uva,5535.333000,2009,kt
10,Serie histórica de producción agrícola española,Producción de uva,6107.617000,2010,kt
3,Serie histórica de producción agrícola española,Producción de uva,5809.315270,2011,kt
4,Serie histórica de producción agrícola española,Producción de uva,5332.162700,2012,kt
5,Serie histórica de producción agrícola española,Producción de uva,7482.538936,2013,kt
6,Serie histórica de producción agrícola española,Producción de uva,6221.759950,2014,kt
7,Serie histórica de producción agrícola española,Producción de uva,5799.127000,2015,kt
8,Serie histórica de producción agrícola española,Producción de uva,6102.851000,2016,kt
9,Serie histórica de producción agrícola española,Producción de uva,5387.379000,2017,kt
10,Serie histórica de producción agrícola española,Producción de uva,6983.401000,2018,kt

**Save tables**

In [75]:
df = pd.concat([df_cer, df_oliv, df_uva]).reset_index(drop=True)
df.to_csv(f'../../datasets/processed/serie_historica_produccion_agricola_española.csv', index = False)